{
    "presets": ["es2015"],
    "plugins": [
        "transform-class-properties",
        "syntax-async-functions",
        "transform-regenerator",
        "transform-runtime",
        "flow-comments"
    ]
}
